<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html; charset=UTF-8"></meta>
<title>登录界面</title>
<link rel="stylesheet" th:href="@{/css/longin.css}"></link>
<style>
/* 16a085 */
body {
	height: 100%;
	background: #136169;
	overflow: hidden;
}

canvas {
	z-index: -1;
	position: absolute;
}
</style>
<script th:replace="base :: common_script"></script>
<script th:src="@{/js/canvas-particle.js}" type="text/javascript"></script>
<script th:inline="javascript" type="text/javascript">
	$(function() {

		//粒子背景特效1
		/* $('body').particleground({
		   dotColor: '#5cbdaa',
		   lineColor: '#5cbdaa'
		 }); */
		

	    //粒子背景特效2
	   /* CanvasParticle({
				        vx: 4,	//小球x轴速度,正为右，负为左
				        vy: 4,	//小球y轴速度
				        height: 2,	//小球高宽，其实为正方形，所以不宜太大
				        width: 2,
				        count: 200,		//点个数
				        color: "121, 162, 185", 	//点颜色
				        stroke: "130,255,255", 		//线条颜色
				        dist: 6000, 	//点吸附距离
				        e_dist: 20000, 	//鼠标吸附加速距离
				        max_conn: 20 	//点到点最大连接数
	    	});*/

	    	$("#verifyCodeImg")
				.on(
					"click",
					function() {
						$(this).hide().attr(
								'src',
								[[@{/verifyCodeImage}]]+'?N=' + Math.floor(Math.random() * 100)).fadeIn();
					});
	    	
			$("#errorMsg").on("click",function() {
				
				$(this).fadeOut();
				
			});


	});//ready end
	
</script>
</head>

<body>
	<canvas class="pg-canvas" width="100%" height="100%"></canvas>
	<span id="errorMsg" th:class="errorMsg" th:if="${param.error}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
	<span class="lang">
		<a th:href="@{/changeLanauage?lang=zh_CN}">简体中文</a>
		<b>|</b>
		<a th:href="@{/changeLanauage?lang=en_US}">english</a>
	</span>
	<form id="ff" th:action="@{/login}" method="post">
		<dl class="admin_login">
			<dt>
				<strong>CARGOES</strong> <em>Management System</em>
			</dt>
			<dd class="user_icon">
				<input type="text" name="username" th:placeholder="#{r.login.username}" class="login_txtbx"></input>
			</dd>
			<dd class="pwd_icon">
				<input type="password" name="password" th:placeholder="#{r.login.password}" class="login_txtbx"></input>
			</dd>
			<dd th:if="${session.AUTHENTICATION_SHOW_VERIFYCODE_IMAGE_KEY}" class="val_icon">
				<div class="checkcode">
					<input style="width:182px;" type="text" name="verifyCode" id="verifyCode" th:placeholder="#{r.login.verify-code}" class="login_txtbx"></input> 
				</div>
				<img class="J_codeimg" id="verifyCodeImg" th:src="@{/verifyCodeImage}"></img>
			</dd>
			<dd>
				<input type="submit" th:value="#{r.login.sign-in}" class="submit_btn"></input>
			</dd>
			<dd>
				<span><a href="#" th:text="#{r.login.lost-password}">找回密码</a></span>
				<span style="float:right;"><a href="#" th:text="#{r.login.user-register}">注册账号</a></span>
				
			</dd>
		</dl>
	</form>

</body>
</html>